<!DOCTYPE html>
<html>
    <head>
        <title>Subway Surfers Reader</title>
        <link rel="s">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/main.css">
        <script type="module" src="../static/app.js"></script>
    </head>
    <body style="background-color:cornflowerblue">
        <main>
          <div class="box" id="box-1">
            <iframe id="video" width="1200" height="675" src="https://www.youtube.com/embed/XBrI6jQxjME?playlist=XBrI6jQxjME&loop=1" title="YouTube video player" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Press m to mute Subway Surfers</p>
          </div>
          <div class="box" id="box-2">
            <form id="my_form">
                <label for="input-text">Text Input</label><br>
                <textarea type="text" id="voice-form" name="input-text"></textarea><br>
                <button id="submit" type="submit">Submit form</button>
                <input id="file-upload" type="file" name="upload" accept="application/pdf"/>
            </form>
          </div>
        </main>
    </body>
</html>